
.tipsContainer{
	padding: 0 15px;
}

.tipsContainer h3{
    padding: 18px 0;
    padding-bottom: 5px;
}

.tipsContainer p{
   	padding: 5px 16px;
}














@media all and (max-width: 320px) {
	
}

