<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>配置商品</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
</head>
<body>	

<div id="special_merge_order_config_product_toolbar" style="margin-bottom: 5px">
	<a href="#" onclick="specialMergeOrderAddProduct(0)" class="easyui-linkbutton"
		iconCls="icon-add" plain="true">新增商品</a>
			
	<div>
		<form id="specialQueryProductForm">
			商品分类：<select id="specialProductClassify" name="categoryId"
				class="easyui-combobox" style="width: 150px;"
				data-options="	valueField:'id',
								textField:'name',
								url:'/tjsc/productCategory/getCategoryTree',required:false"></select>
			活动分类：<select id="fightOrderProductType" class="easyui-combobox" name="productTag" style="width: 150px;">
						<option value="">-请选择-</option>
						#foreach($activityTypes in $!{fightOrderCategoryList})
							<option value="$!{activityTypes.id}">$!{activityTypes.name}</option>
						#end
<!-- 						<option value="1">特价玩具</option> -->
<!-- 						<option value="2">每日上新</option> -->
<!-- 						<option value="3">混拼专场</option> -->
<!-- 						<option value="4">n元专区</option> -->
					</select>
			商品名称：<input id="specialProductName" class="easyui-validatebox" name="name" style="width:100px;">
			商品货号：<input id="specialProductNo" class="easyui-validatebox" name="productNo" style="width:100px;">
			
			<a href="javascript:searchSpecialProduct();" class="easyui-linkbutton"
				iconCls="icon-search">搜索</a>
		</form>
	</div>
	
</div>


<table id="special_merge_order_product_table" style="heigth: auto;"></table>

<!-- 新增商品 -->
<div id="special_add_merge_order_product_div" class="easyui-window" title="新增商品"
	data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:true"
	style="width:900px; height:400px; padding: 10px;">
	<iframe src="#" id="special_add_merge_order_product_div_ifr" marginwidth="0"
		marginheight="0" width="100%" height="100%" frameborder="0"
		scrolling="false" allowtransparency="true"></iframe>
</div>

<!-- 编辑排序-->
<div id="special_save_merge_order_product_div" class="easyui-window" title="编辑排序"
	data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false"
	style="width:600px; height:400px; padding: 10px;">
	<iframe src="#" id="special_save_merge_order_product_div_ifr" marginwidth="0"
		marginheight="0" width="100%" height="100%" frameborder="0"
		scrolling="false" allowtransparency="true"></iframe>
</div>

<!-- 分仓管理-->
<div id="special_save_merge_order_remove_product_div" class="easyui-window" title="分仓管理"
	data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false"
	style="width:1100px; height:600px; padding: 10px;">
	<iframe src="#" id="special_save_merge_order_remove_product_div_ifr" marginwidth="0"
		marginheight="0" width="100%" height="100%" frameborder="0"
		scrolling="false" allowtransparency="true"></iframe>
</div>
<script>

$('#special_merge_order_product_table').datagrid(
		{
			url : '/tjsc/fightOrderProduct/list',
			toolbar : '#special_merge_order_config_product_toolbar',
			queryParams:{"fightOrderId":$!{fightOrderId}},
			pagination : true,
			singleSelect : true,
			rownumbers : true,
			autoRowHeight : true,
			fitColumns:true,
			fit:true,
			remoteSort:true,
			columns : [ [
						{
							field : 'productName',
							title : '商品名称'
						},
						{
							field : 'productNo',
							title : '商品货号',
							sortable : true
						},
						{
							field : 'fightOrderProductTypeName',
							title : '活动分类',
							sortable : true
						},
						{
							field : 'scoreThreshold',
							title : '积分门槛',
							sortable : true
						},
						{
							field : 'sequence',
							title : '排序',
							sortable : true
						},
						{
							field : 'operate',
							title : '操作',
							formatter : function(value, row, index) {
								return outPutFunction("specialMergeOrderSaveProduct", row.productId,"配置信息") + outPutFunction("specialMergeOrderWarehouseManage",row.productId, "分仓管理");
							}
						}
					] ]
});

//新增商品
function specialMergeOrderAddProduct(id) {
	var parentDivId = "special_add_merge_order_product_div";
	var parentTableId = "special_merge_order_product_table";
	var url = "/tjsc/fightOrderProduct/openAdd?fightOrderId=" + $!{fightOrderId} +"&url=/tjsc/fightOrderProduct/fightOrderProduct/save"
			+ "&parentDivId=" + parentDivId + "&parentTableId="
			+ parentTableId;
	$("#special_add_merge_order_product_div_ifr").attr('src', url);
	$('#special_add_merge_order_product_div').window('open');
}

//编辑排序
function specialMergeOrderSaveProduct(productId) {
	var parentDivId = "special_save_merge_order_product_div";
	var parentTableId = "special_merge_order_product_table";
	var url = "/tjsc/fightOrderProduct/inputSequence?productId=" + productId +"&fightOrderId=" + $!{fightOrderId}
			+ "&parentDivId=" + parentDivId + "&parentTableId="
			+ parentTableId;
	$("#special_save_merge_order_product_div_ifr").attr('src', url);
	$('#special_save_merge_order_product_div').window('open');
}

//分仓管理
function specialMergeOrderWarehouseManage(productId) {
	var parentDivId = "special_save_merge_order_remove_product_div";
	var parentTableId = "special_merge_order_product_table";
	var url = "/tjsc/fightOrderProduct/accordingWarehouseManage?productId=" + productId +"&fightOrderId=" + $!{fightOrderId}
			+ "&parentDivId=" + parentDivId + "&parentTableId="
			+ parentTableId;
	$("#special_save_merge_order_remove_product_div_ifr").attr('src', url);
	$('#special_save_merge_order_remove_product_div').window('open');
}

//搜索
function searchSpecialProduct() {
	$("#special_merge_order_product_table").datagrid(
			'reload',
			{
				"categoryId" : $("#specialProductClassify").combotree("getValue"),
				"fightOrderProductType" : $("#fightOrderProductType").combotree("getValue"),
				"name" : $("#specialProductName").val(),
				"productNo":$("#specialProductNo").val(),
				"fightOrderId":'$!{fightOrderId}'
	});
}

// //删除
// function specialRemoveMergeOrderProduct(rid) {
// 	$.messager.confirm('商品管理3', "确定要删除吗?", function(r) {
// 		if (r) {
// 			jQuery.post("/tjsc/fightOrderProduct/delete", {
// 				"tjscFightOrderProductId" : rid,
// 				"fightOrderId" : $!{fightOrderId}
// 			}, function(data) {
// 				if (data == 'success') {
// 					$("#special_merge_order_product_table").datagrid('reload');
// 				} else {
// 					$.messager.alert('Info', data, 'info');
// 				}
// 			});
// 		}
// 	});
// }
	
	
	
</script>
</body>
</html>