<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>分仓下架</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
	<style type="text/css">
	</style>
</head>
<body>	

<div style="padding: 5px; height: auto;">
	<form id="specialMergeProductInfoForm" style="text-align: center;" method="post" enctype="multipart/form-data">
		<table style="display: inline-block;text-align:left;">
			#foreach($fightOrderProduct in $!{fightOrderProductList})
				<input type="checkbox" name="fightOrderProductIdList" value="$!{fightOrderProduct.id}"> $!{fightOrderProduct.warehouseName}
			#end
		</table>
	</form>
	<div style="text-align:center;margin-top: 40px;">
		<a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveWarehouse()">提交</a>
	</div>
</div>

<script>

function saveWarehouse(){
	$.messager.progress();
	$('#specialMergeProductInfoForm').form('submit',{
		url:"/tjsc/fightOrderProduct/delete?fightOrderId="+"$!{fightOrderId}" + "&productId=" + "$!{productId}",
		onSubmit: function(){			
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');	
			}
			return isValid;
		},
		success : function(data) {
			$.messager.progress('close');
			if(data=='success'){
				parent.$( '#$!{parentTableId}' ).datagrid('reload'); 
				parent.$( '#$!{parentDivId}' ).window('close');
			}
			else{
				alert(data);
			}
			
		},
		error : function(resp){
			$.messager.progress('close');
			alert(resp)
		} 
	});
}

</script>



</body>
</html>