<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>新增/修改秒杀活动</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
	<style type="text/css">
	</style>
</head>
<body>	

<div style="padding: 5px; height: auto;">
	<form id="specialSecondsKillActiveInfoForm" style="text-align: center;" method="post" enctype="multipart/form-data">
<!--  	<input name="id" type="hidden" value="$!{category.id}"/>  -->
		<input name="id" type="hidden" value="$!{tjscSeckill.id}"/>
		<table style="display: inline-block;text-align:left;">
			<tr>
				<td style="text-align: end;">开始日期</td>
				<td><input id="dd" type="text" style="border:1px solid #95B8E7;width:200px;" name="date" autoComplete="off"  class="easyui-datebox" value="$!{date}" data-options="required:true,editable:false"></td>
			</tr>
			<tr>
				<td style="text-align: end;">开始时间</td>
				<td><input id="dd" type="text" style="border:1px solid #95B8E7;width:200px;" name="startTime" autoComplete="off"  class="easyui-datetimebox" value="$!{startTime}" data-options="required:true,editable:false"></td>
			</tr>
			<tr>
				<td style="text-align: end;">结束时间</td>
				<td><input type="text" style="border:1px solid #95B8E7;width:200px;" name="endTime" autoComplete="off"  class="easyui-datetimebox" value="$!{endTime}" data-options="required:true,editable:false"></td>
			</tr>
			<tr>
				<td style="text-align: left;color:red;">注：</td>
				<td style="color:red;">开始时间结束时间秒数必须为00，且开始日期和开始时间必须为同一天</td>
			</tr>
		</table>
	</form>
	<div style="text-align:center;margin-top: 40px;">
		<a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveSecondsKillActive()">提交</a>
	</div>
</div>

<script>

function saveSecondsKillActive(){
	$.messager.progress();
	$('#specialSecondsKillActiveInfoForm').form('submit',{
		url:"/tjsc/seckill/save",
		onSubmit: function(){			
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');	
			}
			return isValid;
		},
		success : function(data) {
			if(data=="success"){
			$.messager.progress('close');
			parent.$( '#$!{parentTableId}' ).datagrid('reload'); 
			parent.$( '#$!{parentDivId}' ).window('close');
			}
			else{
				$.messager.progress('close');
				alert(data);	
				}	
			},
		error : function(resp){
			$.messager.progress('close');
			alert(resp)
		} 
	});
}

</script>



</body>
</html>