<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>新增/修改用户访问权限</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
	<style type="text/css">
		.submit{
			font-size:14px;
			border: 1px solid black;
			padding: 10px 20px;
		}
		.submit:hover{
			color:red;
			cursor:pointer;
		}
	</style>
</head>
<body>	

<div style="padding: 5px; height: auto;">
	<form id="specialClassifyInfoForm" style="text-align: center;" method="post" enctype="multipart/form-data">
 	<input name="id" type="hidden" value="$!{level.id}"/> 
		<table style="display: inline-block;text-align:end;">
			<tr>
				<td>用户访问权限</td>
				<td>
					<input type="text" style="border:1px solid #95B8E7;width:300px;" name="level" autoComplete="off" value="$!{level.level}"  class="easyui-validatebox" style="width:400px" type="text" data-options="required:true">
				</td>
			</tr>
		</table>
	</form>
	<div style="text-align:center;margin-top: 40px;">
		<a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveClassify()">提交</a>
	</div>
</div>

<script>

function saveClassify(){
	$.messager.progress();
	$('#specialClassifyInfoForm').form('submit',{
		url:"/tjsc/memberVisitLevel/save",
		onSubmit: function(){			
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');	// 如果表单是无效的则隐藏进度条
			}
			return isValid;	// 返回false终止表单提交
		},
		success : function(data) {
			if(data=="success"){
				$.messager.progress('close');
				parent.$( '#$!{parentTableId}' ).datagrid('reload'); 
				parent.$( '#$!{parentDivId}' ).window('close');
        	}
			else{
				alert("修改失败，请检查用户权限等级是否超出最大权限等级！");
				$.messager.progress('close');
        	}
		},
		error : function(resp){
			$.messager.progress('close');
			alert(resp)
		} 
	});
}

</script>

</body>
</html>