<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>导出余额明细</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="$!{staticRoot}/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="$!{staticRoot}/zTree/js/jquery.ztree.excheck-3.5.js"></script>
	<link rel="stylesheet" type="text/css" href="$!{staticRoot}/zTree/css/zTreeStyle/zTreeStyle.css"></link>
	
</head>
</body>	
<div style="padding: 10px 0 10px 60px" style="width:950px; height:400px; padding: 10px;">
		<form id="excelAccountDetailForm" method="post" enctype="multipart/form-data" >
			<input name="orderPropertyIds" id="orderPropertyIds" type="hidden" />
		
			<table>
				<tr>
					<td>注意事项：</td>
					<td>
					1，导出只支持<span style="color:red">.xls</span>表格文件。</br>
					2，<span style="color:red">导出非常消耗系统资源，请勿频繁执行本操作</span></td>
				</tr>
<!-- 				<tr>
					<td>勾选需要导出的属性：</td>
					<td>
					 <table id="excelAccountDetailTable"></table>
					</td>
				</tr>
 -->				<tr>
					<td>用户ID</td>
					<td>
						<input name="memberId" placeholder="" maxlength="22"  class="easyui-textbox" style="width:100px;" />
					</td>
				</tr>
				<tr>
					<td>订单创建时间：</td>
					<td>
						   <input id="createTimeStart" class="easyui-datebox" name="createTimeStart" style="width: 100px;" data-options="required:true" editable="false">
						           至：<input id="createTimeEnd" class="easyui-datebox" name="createTimeEnd" style="width: 100px;" data-options="required:true" editable="false">
					</td>
				</tr>			
				<tr>
					<td></td>
	            	<td>
						<center>
							<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitOutData()">确认导出</a>
						</center>
	           		</td>
				</tr>
			</table>
		</form>
	</div>
	<script>
	//console.info($!{propertys});
/* 		$('#excelAccountDetailTable').datagrid({   
		url:'/xlcl/excel/getOrderProductPropertys',
		//toolbar: '#shopSearchFormToolbar',
		//queryParams:{"userType":2,"isDeleted":2},
		//pagination:true,
		singleSelect:false,
		//rownumbers:true,
		autoRowHeight:true,
		//data:"$!{propertys}",
		columns:[[   
				{field:'id',title:'',checkbox:true},
				{field:'name',title:'订单商品属性',width:200}
		]]
		}); */
	
	//提交导出数据
	function submitOutData(){
		/* var orderPropertyIds="";
		var allCheckedRows=$('#excelAccountDetailTable').datagrid("getChecked");
		for(var i=0;i<allCheckedRows.length;i++){
			orderPropertyIds+=allCheckedRows[i].id+",";
		}
		if(allCheckedRows==null||allCheckedRows.length==0||orderPropertyIds==""){
			alert("至少选择一个属性。");
			return;
		}
		orderPropertyIds = orderPropertyIds.substring(0,orderPropertyIds.length-1);
		$("#orderPropertyIds").val(orderPropertyIds); */
		$.messager.progress();
		$('#excelAccountDetailForm').form('submit',{
					url:"/xlcl/excel/outExcelMemberDepositHistory",
					success : function(data) {
						$.messager.progress("close");
						if (data != 'fail') {
							parent.$('#excelAccountDetail_div').window('close');
							parent.$('#xlcl_excelAccountDetail_table').datagrid('reload');
						} else {
							jQuery.messager.alert('Info', data, 'info');
						}
					}
				});
	}
	
	$(function() {
		var strDate = formatterDate(new Date());
		$('#createTimeStart').datebox("setValue", strDate);
		$('#createTimeEnd').datebox("setValue", strDate);
	});
		
    formatterDate = function(date) {
		var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
		var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0" + (date.getMonth() + 1);
		return date.getFullYear() + '-' + month + '-' + day;
	};
	
	</script>
</body>
</html>