<!DOCTYPE html>
<html data-options='fit:true' style="width:100%;height:100%;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>选择会员</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	
</head>
<body data-options='fit:true' style="width:100%;height:100%;">	
	<div id="select_member_muilt_toolbar" style="padding:5px;height:auto">
		<div style="margin-bottom:5px">
			<a href="#" onclick="confirmChoose()" class="easyui-linkbutton" iconCls="icon-add" plain="true">确认选择</a>
		</div> 
		<div>
			<form>
				会员ID：<input id="id" class="easyui-validatebox" name="id" style="width:100px;">
				会员昵称：<input id="name" class="easyui-validatebox" name="name" style="width:100px;">
				会员电话：<input id="phone" class="easyui-validatebox" name="phone" style="width:100px;">
				<a href="javascript:searchProduct();" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
			</form>
		</div>
	</div>
	<table id="select_member_muilt_form_table" style="heigth:auto;"></table>
	
	<script type="text/javascript">
	
	//打开商品库
	$('#select_member_muilt_form_table').datagrid({   
		url:'/tjsc/memberRelationForSalesman/addMemberList',   
		toolbar: '#select_member_muilt_toolbar',
		queryParams:{"userId":'$!{userId}'},
		pagination:true,
		muiltSelect:false,
		rownumbers:true,
		autoRowHeight:true,
		fitColumns:true,
		fit:true,
		columns:[[   
			{
				checkbox:true
			},
			{
				field : 'id',
				title : '会员ID'
			},
			{
				field : 'name',
				title : '用户昵称',
				sortable : true
			},
			{
				field : 'phone',
				title : '联系电话',
				sortable : true
			},
			{
				field : 'phoneName',
				title : '联系人',
				sortable : true
			},
			{
				field : 'fullAddress',
				title : '联系地址',
				sortable : true
			},
			{
				field : 'createTime',
				title : '加入时间',
				sortable : true
			},
			{
				field : 'discountsRatio',
				title : '后台设置优惠比例',
				sortable : true
			},
			{
				field : 'baoLongPermissionsStr',
				title : '是否为暴龙用户',
				sortable : true
			},
			{
				field : 'remark',
				title : '客户名称'
			}
			
		]]
	});
	
	
	 function confirmChoose(){
		
		var selectRows= $("#select_member_muilt_form_table").datagrid("getChecked");
		if(selectRows==null||selectRows.length==0||typeof(selectRows)=="undefined"){
    			alert("至少选择一个会员");
    			return;
    		}
	    var productIds = "";
	    for(var i=0;i<selectRows.length;i++){
	    	var selectRow = selectRows[i];
	   		productIds+=selectRow.id+",";
	    }
	    
	    productIds=productIds.substring(0,productIds.length-1);
		$.post("$!{url}",{"memberIds":productIds,"userId":'$!{userId}'},function(data){
	   	 		if(data!='success'){
	   	 			alert(data);
	   	 		}else{
	   	 			parent.$("#$!{parentTableId}").datagrid('reload'); 
					parent.$("#$!{parentDivId}").window('close');						
	   	 		}
	   	 },'text')
	} 
	
	function searchProduct() {
		$("#select_member_muilt_form_table").datagrid(
				'reload',
				{
					"memberId":$("#id").val(),
					"name" : $("#name").val(),
					"phone":$("#phone").val(),
					"userId":'$!{userId}'
		});
	}
	</script>
</body>
</html>