<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>商品管理</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
</head>
<body>
<div style="width:950px; height:400px; padding: 10px;">
		<form id="productInfoForm" method="post" enctype="multipart/form-data">
			<!-- <input name="type" value="$!{wearehouseProduct.type}" type="hidden" />  -->
			<input name="id" type="hidden" value="$!{wearehouseProduct.id}"/>
			<table>
			
				<tr>
					<td>商品名称(只读)</td>
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="name" autoComplete="off" value="$!{wearehouseProduct.name}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>商品货号(只读)</td>
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="productNo" autoComplete="off" value="$!{wearehouseProduct.productNo}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>装箱数量(只读)</td>
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="packageNum" autoComplete="off" value="$!{wearehouseProduct.packageNum}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>是否可以参与混拼</td>
					<td style="text-align: left;">
						<input type="radio" name="isMixFight" value="0">只能整拼
						<input type="radio" name="isMixFight" value="1" style="margin-left: 20px;">允许混拼
						<input type="radio" name="isMixFight" value="2" style="margin-left: 20px;">只能混拼
					</td>
				</tr>
				<tr>
					<td>混拼起拼数</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="mixFightNumThreshold" autoComplete="off" value="$!{wearehouseProduct.mixFightNumThreshold}" class="easyui-validatebox" data-options="required:true">个</td>
				</tr>
				<tr>
					<td>整拼库存</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="wholeBoxNum" autoComplete="off" value="$!{wearehouseProduct.wholeBoxNumStr}" class="easyui-validatebox" data-options="required:true">箱</td>
				</tr>
				<tr>
					<td>混拼库存</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="mixFightNum" autoComplete="off" value="$!{wearehouseProduct.mixFightNum}" class="easyui-validatebox" data-options="required:true">个</td>
				</tr>
				<tr>
					<td>是否限购</td>
					<td style="text-align: left;">
						<input type="radio" name="isPurchase" value="0">限购
						<input type="radio" name="isPurchase" value="1" style="margin-left: 20px;">不限购
					</td>
				</tr>
				<tr>
					<td>每人限购数量</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:100px;" name="everyOnePurchase" autoComplete="off" value="$!{wearehouseProduct.everyOnePurchase}" class="easyui-validatebox" data-options="required:true"><span style="color:red;">( 若限购 则填装箱量 $!{wearehouseProduct.packageNum} 的整数倍 )</span></td>
				</tr>
				<tr>
					<td>是否免邮</td> 
					<td style="text-align: left;">
						<input type="radio" name="isFreePost" value="0">免邮
						<input type="radio" name="isFreePost" value="1" style="margin-left: 20px;">不免邮
					</td>
				</tr>
				<tr>
					<td>邮费</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="postFee" autoComplete="off" value="$!{wearehouseProduct.postFee}" class="easyui-validatebox" data-options="required:true"></td>
				</tr>
				<tr>
					<td>整拼单价</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="stockWholeBoxPrice" autoComplete="off" value="$!{wearehouseProduct.stockWholeBoxPrice}" class="easyui-validatebox" data-options="required:true"></td>
				</tr>
				<tr>
					<td>混拼单价</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="stockMixFightPrice" autoComplete="off" value="$!{wearehouseProduct.stockMixFightPrice}" class="easyui-validatebox" data-options="required:true"></td>
				</tr>
				<tr>
					<td>出厂单价</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="factoryPrice" autoComplete="off" value="$!{wearehouseProduct.factoryPrice}" class="easyui-validatebox" data-options="required:true"></td>
				</tr>
				<tr>
					<td>单个成本价</td> 
					<td><input type="text" style="border:1px solid #95B8E7;width:300px;" name="costPrice" autoComplete="off" value="$!{wearehouseProduct.costPrice}" class="easyui-validatebox" data-options="required:true"></td>
				</tr>
				<tr><td>是否为暴龙商品:</td> 
					<td>
						是<input type="radio" value="0" name="isBaoLongSeries">  否<input type="radio" checked="checked" value="1" name="isBaoLongSeries">
					</td>
				</tr>
				
				<tr>
					<td></td>
	            	<td>
						<center>
							<a href="javascript:void(0)" class="easyui-linkbutton" onclick="doSubmit()">确定</a>
						</center>
	           		</td>
				</tr>
			</table>
		</form>
	</div>
	<script>
	$('#productInfoForm').form('load',{'isMixFight':'$!{wearehouseProduct.isMixFight}','isPurchase':'$!{wearehouseProduct.isPurchase}','isFreePost':'$!{wearehouseProduct.isFreePost}','isBaoLongSeries':'$!{wearehouseProduct.isBaoLongSeries}'});
	
	/* 中文逗号转英文 */
	function changeDouHao(target){
		var value = target.value;
		value=value.replace(/，/ig,',');
		$(target).attr('value',value);
	} 
	
	
	function doSubmit(){
		$.messager.progress();
		$('#productInfoForm').form('submit',{
			url:"/tjsc/wareHouseProduct/saveChanges",
			onSubmit: function(){
				var isValid = $(this).form('validate');
				if (!isValid){
					$.messager.progress('close');	// 如果表单是无效的则隐藏进度条
				}
				return isValid;	// 返回false终止表单提交
			},
			success : function(data) {
				$.messager.progress('close');
				if (data == 'success') {
					parent.$( '#$!{parentTableId}' ).datagrid('reload'); 
					parent.$( '#$!{parentDivId}' ).window('close');		
				} else {
					jQuery.messager.alert('Info', data, 'info');
				}
			}
		});
		
	}
	
	</script>
</body>
</html>