<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" Content="no-cache">
	<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate,no-store">
	<meta http-equiv="Expires" Content="0">
	<title>特定用户分布图</title>
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${staticRoot}/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/myself-easyui-tools.js"></script>
	<script type="text/javascript" src="${staticRoot}/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" href="${staticRoot}/kindeditor-4.1.7/themes/default/default.css" />
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/kindeditor-min.js"></script>
	<script charset="utf-8" src="${staticRoot}/kindeditor-4.1.7/lang/zh_CN.js"></script>
	<script type="text/javascript" src="$!{staticRoot}/specialShop/echarts/echarts.js"></script>
	<script type="text/javascript" src="$!{staticRoot}/specialShop/echarts/bmap.min.js"></script>
	<script type="text/javascript" src="$!{staticRoot}/specialShop/echarts/bmap-axis.js"></script>
	
	<!-- xlcladmin.com -->
	<!-- 	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VPe4YcmtLkxbBLM2RdC8c6wIPIgKtUA8"></script>-->
	
	<!-- xlcltjsc.com -->
<!-- 	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KVzvpoUxCMzAYE1Tq0A339WGQDG1DLjS"></script> -->
	
	<!-- 线上gougouxiong.com -->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iE14jhEBzFgTAWbr7fR4bPeBByM3g7FN"></script>
</head>
<body>
<div id="specialMemberMap" style="width: 1400px;height:800px;margin: 0;"></div>
<script>
var data;
var option;
var memberMap = echarts.init(document.getElementById('specialMemberMap'));

startMap('$!{startTimeStr}','$!{endTimeStr}');

function startMap(startDate,endDate){
	$.get('/tjsc/visitBuyHistory/limitTimeVisitUserAddress?startTimeStr='+startDate+'&endTimeStr='+endDate, function (response){
		data = response;  
		setOption();
		memberMap.setOption(option);
	})
}

var convertData = function (data) {
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
            res.push({
                name: data[i].name+'-'+data[i].value,
                value: geoCoord.concat(data[i].value)
            });
        }
    }
    return res;
};

function renderItem(params, api) {
	
	var points = [];
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function setOption(){
	
	option = {
		    backgroundColor: '#404a59',
		    title: {
		        text: '全国用户城市分布图',
		        subtext: '熊小二 你值得拥有',
		        //sublink: 'http://www.pm25.in',
		        left: 'center',
		        textStyle: {
		            color: '#fff'
		        }
		    },
		    tooltip : {
		        trigger: 'item'
		    },
		    bmap: {
		        center: [104.114129, 37.550339],
		        zoom: 5,
		        roam: true,
		        mapStyle: {
		            styleJson: [
		                    {
		                        "featureType": "water",
		                        "elementType": "all",
		                        "stylers": {
		                            "color": "#044161"
		                        }
		                    },
		                    {
		                        "featureType": "land",
		                        "elementType": "all",
		                        "stylers": {
		                            "color": "#004981"
		                        }
		                    },
		                    {
		                        "featureType": "boundary",
		                        "elementType": "geometry",
		                        "stylers": {
		                            "color": "#064f85"
		                        }
		                    },
		                    {
		                        "featureType": "railway",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "highway",
		                        "elementType": "geometry",
		                        "stylers": {
		                            "color": "#004981"
		                        }
		                    },
		                    {
		                        "featureType": "highway",
		                        "elementType": "geometry.fill",
		                        "stylers": {
		                            "color": "#005b96",
		                            "lightness": 1
		                        }
		                    },
		                    {
		                        "featureType": "highway",
		                        "elementType": "labels",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "arterial",
		                        "elementType": "geometry",
		                        "stylers": {
		                            "color": "#004981"
		                        }
		                    },
		                    {
		                        "featureType": "arterial",
		                        "elementType": "geometry.fill",
		                        "stylers": {
		                            "color": "#00508b"
		                        }
		                    },
		                    {
		                        "featureType": "poi",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "green",
		                        "elementType": "all",
		                        "stylers": {
		                            "color": "#056197",
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "subway",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "manmade",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "local",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "arterial",
		                        "elementType": "labels",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    },
		                    {
		                        "featureType": "boundary",
		                        "elementType": "geometry.fill",
		                        "stylers": {
		                            "color": "#029fd4"
		                        }
		                    },
		                    {
		                        "featureType": "building",
		                        "elementType": "all",
		                        "stylers": {
		                            "color": "#1a5787"
		                        }
		                    },
		                    {
		                        "featureType": "label",
		                        "elementType": "all",
		                        "stylers": {
		                            "visibility": "off"
		                        }
		                    }
		            ]
		        }
		    },
		    series : [
		        {
		            name: '用户分布数',
		            type: 'scatter',
		            coordinateSystem: 'bmap',
		            data: convertData(data),
		            symbolSize: function (val) {
		            	if(val[2] <= 2){
		            		return val[2] * 2;
		            	}
		            	else if(val[2] >= 100){
		            		return val[2] / 5;
		            	}
		            	else{
		            		return val[2] / 2;
		            	}
		                
		            },
		            label: {
		                normal: {
		                    formatter: '{b}',
		                    position: 'right',
		                    show: false
		                },
		                emphasis: {
		                    show: true
		                }
		            },
		            itemStyle: {
		                normal: {
		                    color: '#ddb926'
		                }
		            }
		        },
		        {
		            name: 'Top 5',
		            type: 'effectScatter',
		            coordinateSystem: 'bmap',
		            data: convertData(data.sort(function (a, b) {
		                return b.value - a.value;
		            }).slice(0, 100)),
		            symbolSize: function (val) {
		                return val[2] / 8;
		            },
		            showEffectOn: 'emphasis',
		            rippleEffect: {
		                brushType: 'stroke'
		            },
		            hoverAnimation: true,
		            label: {
		                normal: {
		                    formatter: '{b}',
		                    position: 'right',
		                    show: true
		                }
		            },
		            itemStyle: {
		                normal: {
		                    color: '#f4e925',
		                    shadowBlur: 10,
		                    shadowColor: '#333'
		                }
		            },
		            zlevel: 1
		        },
		        {
		            type: 'custom',
		            coordinateSystem: 'bmap',
		            renderItem: renderItem,
		            itemStyle: {
		                normal: {
		                    opacity: 0.5
		                }
		            },
		            animation: false,
		            silent: true,
		            data: [0],
		            z: -10
		        }
		    ]
		}
	
}

</script>
</body>
</html>