<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>搜索结果</title>  
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="$!{static}/specialShop/client/css/public.css" />
<!-- <link rel="stylesheet" type="text/css" href="$!{static}/specialShop/client/css/searchResult.css" /> -->
<link rel="stylesheet" type="text/css" href="$!{static}/specialShop/client/css/salableSearchResultList.css" />
<script type="text/javascript" src="/jquery-easyui/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="$!{static}/specialShop/client/library/lazy.js"></script>
</head>
<body>
<div id="search">
	#if($!{category})
		<p>$!{category.name}</p>
	#else
		<p>畅销</p>
	#end
</div>
<ul id="productList"></ul>
<div style="padding-bottom: 5px;" id="loading">数据加载中。。。</div>
<script>

var page =1;
var rows =20;
var isEnableRequest = true;
var type = '$!{cxProductModel}';
var isAndroid = navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Adr') > -1;
var currentList = [];
var session;
var discountsRatio=1;

init();

/* 初始化函数 */
function init(){
	$("img.lazy").lazyload();
	setFontSize();
	if(isAndroid){
		session = sessionStorage.getItem('salableSearchListParam');
	}
	
	if(session){
		session = JSON.parse(sessionStorage.getItem('salableSearchListParam'));
		page = session.page;
		type = session.type;
		currentList = JSON.parse( session.prevList );
		addListProduct(currentList);
	}
	else{
		getProductList();
	}
	pullRefresh();
}

/* 存储session */
function saveSession(){
	var list = JSON.stringify(currentList);
	var param = {
	  page: page,
	  prevList: list,
	  type:type
	};
	param = JSON.stringify(param);
	sessionStorage.setItem('salableSearchListParam',param);
}

/* 拉取商品列表 */
function getProductList(){
	if(!isEnableRequest){return};
	var url;
	url="/tjsc/weixin/cxActivity/weiXinSearch?&name=$!{name}&categoryId=$!{categoryId}&tjscCXActivityId=$!{tjscCXActivityId}&price=$!{price}&page="+page+"&rows="+rows+"&cxProductModel=" + '$!{cxProductModel}';
	
	$.ajax({
        type: "GET",
        url: url,
        async:false,
        success: function(pageData){
           	if(!pageData.rows || pageData.rows==""){
               $('#loading').text('没有更多数据了!');
               isEnableRequest = false;
           	}else{
           		var products = eval(pageData.rows);
           		currentList = currentList.concat(products);
           		addListProduct(products);
                page=page+1;
                isEnableRequest = products.length < rows ? false : true;
                if(!isEnableRequest){
             	   $('#loading').text('没有更多数据了!');
                }
            }
        },
        error: function(error){
        	alert(error);
        }
	});
}

/* 添加商品 */
function addListProduct(tjscProductList){
	var products = eval(tjscProductList);
    var productListUl =$("#productList");
    for(var i =0;i<products.length;i++){
	     var product =products[i];
	     var li;
	     var isOnlyMix = product.isMixFight == 2;
	     var wholeBoxPrice;
	     var price;
	     var intsPrice;
	     var decimalPrice = '';
	     wholeBoxPrice = parseFloat(product.priceForIndex*discountsRatio).toString();
    	 if( wholeBoxPrice.indexOf(".") > 0 ){
    		 price = wholeBoxPrice.split(".");
    		 if(price[1].length > 2){
    			 wholeBoxPrice = parseFloat(product.fightOrderProductPriceForWX*discountsRatio).toFixed(2).toString();
    		 }
    	 }
	     
	     if( wholeBoxPrice.indexOf(".") > 0 ){
	    	 price = wholeBoxPrice.split(".");
	    	 intsPrice = price[0];
	    	 decimalPrice = '.'+price[1];
	     }
	     else{
	    	 intsPrice = wholeBoxPrice;
	     }
	     
	     if(type == 'mixFight'){//混拼
			 li = '<li class="orange">';
		 }
		 else{//整拼
			 li = '<li>';
		 }
	     
	     if(type == 'mixFight' && product.totalMixFightSurplusStock <= 0){//混拼售罄
			 li += '<div class="noStart" onclick="productClick('+product.productId+','+product.cxActivityId+')">已售罄</div>';
		 }
		 else if(type == 'whole' && product.totalWholeBoxSurplusStockStr <= 0){//整拼售罄
			 li += '<div class="noStart" onclick="productClick('+product.productId+','+product.cxActivityId+')">已售罄</div>';
		 }
	     
	     li += '<div class="tag">';
	     if(product.productTags){
	    	 for(var j =0;j<product.productTags.length;j++){
	    		 li += '<span>'+ product.productTags[j] +'</span>';
	    	 }
	     }
	     li += '</div>';
	     li += '<div class="imgContainer" onclick="productClick('+product.productId+','+product.cxActivityId+')">';
	     li += '<img class="lazy" style="height:150px;" src="/specialShop/client/image/lazy_1.png" data-original='+ product.mainPicture +'>';
	     li += '</div>';
	     
	     li += '<h3>'+ product.productName +'</h3>';
	     
	     li += '<p class="price"><span class="money">￥</span>'+ intsPrice + '<span class="decimal">'+ decimalPrice +'</span>' +'<del>出厂价：<span>￥'+ product.factoryPriceForIndex +'</span></del></p>';
	     
    	 if(type == 'whole'){
	    	 li += '<p>已售<span>'+ product.totalWholeBoxHaveBuyNumStr +'</span>箱  剩余<span>'+ product.totalWholeBoxSurplusStockStr +'</span>箱</p>';
	     }
	     else{
	    	 li += '<p>已售<span>'+ product.totalMixFightHaveBuyNumStr +'</span>个  剩余<span>'+ product.totalMixFightSurplusStock +'</span>个</p>';
	     }
	     
    	 li += '<p>装箱 ： '+ product.packageNum + '</p>';
	     li += '<p>货号 ：<span class="productNo">'+ product.productNo +'</span></p>';
	     
	     if(type == 'mixFight' && product.totalMixFightSurplusStock <= 0){//混拼售罄
			li += '<a style="background: #9f9f9f;">加入订单</a>';
		 }
		 else if(type == 'whole' && product.totalWholeBoxSurplusStockStr <= 0){//整拼售罄
			li += '<a style="background: #9f9f9f;">加入订单</a>';
		 }
		 else{
			li += '<a onclick="buyNow('+product.productId+','+product.cxActivityId+')">加入订单</a>';
		 }
	     li += '</li>';
	     
	     $(li).appendTo(productListUl);
    }
    $("img.lazy").lazyload();
    
    
}

/* 直接购买 */
function buyNow(productId,cxActivityId){
	$.ajax({
        type: "GET",
        url: '/tjsc/weixin/cart/buyCXProductImmediately?productId='+productId+'&cxActivityId='+cxActivityId+'&fightOrderMode='+type,
        async:false,
        dataType:"text",
        success: function(resp){
        	if(resp == "success") {
        		if(isAndroid){
            		saveSession();
            	}
        		window.location = '/tjsc/weixin/cart/index';
        	} else {
        		alert(resp);
        	}
        },
        error: function(error){
        	alert(error);
        }
	});
}

/* 点击商品图片 */
function productClick(productId,cxActivityId){
	if(isAndroid){
		saveSession();
	}
	window.location = '/tjsc/weixin/cxActivity/productDetail?productId='+productId+'&tjscCXActivityId='+cxActivityId+'&cxProductModel='+type;
}

/* 设置rem */
function setFontSize() {
　　var winWidth = $(window).width();
　　var size = (winWidth / 750) * 200;
　　document.documentElement.style.fontSize = (size < 100 ? size : 100) + 'px';
};

/* 上拉    */
function pullRefresh() {
	$(window).scroll(function(){
		var scrollTop = $(this).scrollTop();
		var scrollHeight = $(document).height();
		var windowHeight = $(this).height();
		if(scrollTop + windowHeight >= scrollHeight - 50 && isEnableRequest){
			getProductList();
			
		}
	});
};

</script>
</body>
</html>